<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Schoolly - School Management System</title>
  <meta  name="description" content="A school management system that provides an
  all-in-one digital solution for schools. From a simple student's result module to a swift e-learning system,
  bundled with tools and features that capture and track all aspects of school business and academic activities">
  <meta name="keywords" content="schoolly, fizcos infotech solutions, school, management, software, nigeria, lagos, abuja,
  port harcourt">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="assets/css/variables.css" rel="stylesheet">
  <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
   <!-- remove .html from the file extension -->
   <link rel="canonical" href="https://schoolly.com.ng/about" />
  </head>

<body>
   <!-- ======= Header ======= -->

   <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="assets/img/logo-full.png" alt="">
        <!-- <h1>HeroBiz<span>.</span></h1> -->

      </a>
  
      <nav id="navbar" class="navbar">
        <ul>

          <li><a href="index.html">Home</a></li>

        <!-- </li>pages:about' as about_url %}
        <a href="{% if request.get_full_path == about_url %} class="active" {% endif %}>About Schoolly</a></li> -->

          <li><a class="nav-link scrollto active" href="about.html">About Schoolly</a></li>
          <!-- <li><a class="nav-link scrollto" href="index.html#services">Features</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="index.html#pricing">Pricing</a></li> -->
          <li><a class="nav-link scrollto" href="faqs.html">Help Center</a></li>
          <!--<li><a href="blog:blog_home">InfoBlog</a></li>-->
          <li><a class="nav-link scrollto" href="contact-demo.html">Contact Us</a></li>
          <li><a class="nav-link scrollto" href="https://www.schoolly.com.ng/users/login/">Portal Login</a></li>
  
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      <a class="btn-getstarted scrollto" href="contact-demo.html">Book a Demo</a>

    </div>

  </header><!-- End Header -->

  <div class="breadcrumbs">

    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>All-In-One School Management</h2>
        <ol>
          <!-- <li><a href="index.html">Home</a></li> -->
          <!-- <li>School Management System</li> -->
        </ol>
      </div>

    </div>
  </div><!-- End Breadcrumbs -->

     <!-- ======= About Section ======= -->
     <section id="about" class="about">
        <div class="container" data-aos="fade-up">

          <div class="section-header">
            <h2>Optimize with Schoolly</h2>
            <p>Collaborate, reduce running cost. Enhance students and teachers engagment and performance.</p>
            <p>Schoolly is a FREE web-application/solution that offers the best digital experience to run a 21st century school.</p>
          </div>

          <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-5">
              <div class="about-img">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-7">
              <h3 class="pt-0 pt-lg-5">Schoolly is the enterprise Software that manage your educational institution without hassles.</h3>

              <!-- Tabs -->
              <ul class="nav nav-pills mb-3">
                <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">K-12 EDUCATION</a></li>
                <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">TERTIARY</a></li>
                <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">OTHER ACADEMY</a></li>
              </ul><!-- End Tabs -->

              <!-- Tab Content -->
              <div class="tab-content">

                <div class="tab-pane fade show active" id="tab1">

                  <p class="fst-italic">From the very basic of kindergarten to Primary and secondary education we offer you the best solution.</p>

                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>
                      Enrollments, Assignments, Assessments...</h4>
                  </div>
                  <p>An all-in-one solution for your school, managing students enrollment, update, home-work, test/examination and assessments with easy to navigate tools.</p>

                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>Results Tracking, Fees Payment, Attendance...</h4>
                  </div>
                  <p>Both parents and teachers enjoy the flexibilities of the interface to performance tasks with easily accessible buttons. download features and perform query</p>

                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>Real Time School Management</h4>
                  </div>
                  <p>Schoolly enables you to manage and track the progress of your school from anywhere accross different device. View and download progress reports with excellent report filtering features.</p>

                </div><!-- End Tab 1 Content -->

                <div class="tab-pane fade show" id="tab2">

                  <p class="fst-italic">A bespoke solution fit for the running of any tertiary institutions. comprehensive features that digitally capture all areas of higher education system.</p>

                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>Online admission, Course reg. CBT...</h4>
                  </div>
                  <p>Admission processes and online course registration with secure CBT feature. Schoolly e-systems is not limited to e-learning, e-library, CBT alone but offers a comprehensive tertiary education solution.</p>

                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>E-library, Assessments, e-Learning...</h4>
                  </div>
                  <p>Study and assessments with an e-learning solution that fits your unique demand. Result and status report generator with real-time hitch-free access.</p>

                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>Live Tutorials and Interactive Sessions.</h4>
                  </div>
                  <p> Explore the benefits of tutoring in an online environment, allow your teacher and student to interact in real-time
                    from different locations.</p>

                </div><!-- End Tab 2 Content -->

                <div class="tab-pane fade show" id="tab3">

                  <p class="fst-italic">Whatever the nature or size of your educational set-up, schoolly solutions make running your academy stress-free</p>

                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>Online Registrations, E-learning, E-Library...</h4>
                  </div>
                  <p>Conducting student admission online is made easy with diverse e-systems that include but not limited to e-learning, e-library, CBT and more..</p>

                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>Payments, staff/faculty mgt., e-tracking</h4>
                  </div>
                  <p>Scholly is bundled with a payment solution that enables one-click payment.</p>

                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>Live Tutorials and Interactive Sessions</h4>
                  </div>
                  <p>Explore the benefits of tutoring in an online environment, allow your teacher and student to interact in real-time
                    from different locations.</p>

                </div><!-- End Tab 3 Content -->

              </div>

            </div>

          </div>

        </div>
      </section><!-- End About Section -->


        <!-- ======= On Focus Section ======= -->
    <section id="onfocus" class="onfocus">
        <div class="container-fluid p-0" data-aos="fade-up">

          <div class="row g-0">
            <div class="col-lg-6 video-play position-relative">
              <a href="https://www.youtube.com/watch?v=ymA81wkhpr4" class="glightbox play-btn"></a>
            </div>
            <div class="col-lg-6">
              <div class="content d-flex flex-column justify-content-center h-100">
                <h3>Extend your school's digital experience with Schoolly.</h3>
                <p class="fst-italic">
                  An all-in-one solution for your school, managing students enrollment, assignment,
                  test/examination assessments with an easy to navigate tool..
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Enrollments, Assignments, Assessments...</li>
                  <li><i class="bi bi-check-circle"></i> Result Tracking, Fees Payment, Attendance...</li>
                  <li><i class="bi bi-check-circle"></i> E-library, e-Learning, Online Course reg. CBT, e-reporting</li>
                </ul>
                <a href="{% url 'pages:contact' %}" class="read-more align-self-start nav-link scrollto"><span>Start Now</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End On Focus Section -->

            <!-- ======= Call To Action Section ======= -->
 <section id="cta" class="cta">
    <div class="container" data-aos="zoom-out">

      <div class="row g-5">

        <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
          <h3>Experience the <em>Schoolly</em> Application!</h3>
          <p> A web application that provides 24/7 all-in-one digital solution to school system. From student's result tracking to a swift e-learning system and a comprehensive management system that captures and tracks all aspects of school business activities.</p>
          <a class="cta-btn align-self-start nav-link scrollto" href="{% url 'pages:faqs' %}">Read More</a>
        </div>

        <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
          <div class="img">
            <img src="{% static 'pages/assets/img/cta.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Call To Action Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">

          <div class="section-header">
            <h2>Schoolly is AMAZING</h2>
            <p>Schoolly is a flexible system that allows schools to scale accordingly. <br />
              Your school is allowed to enjoy all the features of Schoolly without any charges

            </p>
          </div>

          <div class="row gy-4">

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="pricing-item">

                <div class="pricing-header">
                  <h3>StartPro</h3>
                  <!-- <h4><sup>$</sup>0.8<span> / term</span></h4> -->
                </div>

                <ul>
                  <li><i class="bi bi-dot"></i> <span>Students/Parents Mgt.</span></li>
                  <li><i class="bi bi-dot"></i> <span>Staff/Teachers Mgt.</span></li>
                  <li><i class="bi bi-dot"></i> <span>Results & Assessments</span></li>
                  <li><i class="bi bi-dot"></i> <span>Accounts Mgt.</span></li>
                  <li><i class="bi bi-dot"></i> <span>Notification & Feedback</span></li>
                </ul>

                <div class="text-center mt-auto">
                  <a href="{% url 'pages:contact' %}" class="buy-btn">Order</a>
                </div>

              </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
              <div class="pricing-item featured">

                <div class="pricing-header">
                  <h3>LMSPlus</h3>
                  <!-- <h4><sup>$</sup>1<span> / term</span></h4> -->
                </div>

                <ul>
                  <li><i class="bi bi-dot"></i> <span>All StartPro Features</span></li>
                  <li><i class="bi bi-dot"></i> <span>E-learning</span></li>
                  <li><i class="bi bi-dot"></i> <span>CBT/Exams</spa></li>
                  <li><i class="bi bi-dot"></i> <span>Attendance & classes</spa></li>
                  <li><i class="bi bi-dot"></i> <span>Quiz/Test</span></li>
                </ul>

                <div class="text-center mt-auto">
                  <a href="{% url 'pages:contact' %}" class="buy-btn">Order</a>
                </div>

              </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="600">
              <div class="pricing-item">

                <div class="pricing-header">
                  <h3>Ultimate</h3>
                  <!-- <h4><sup>$</sup>1.5<span> / term</span></h4> -->
                </div>

                <ul>
                  <li><i class="bi bi-dot"></i> <span>StarterPro + LMSPlus</span></li>
                  <li><i class="bi bi-dot"></i> <span>E-learning Ultimate</span></li>
                  <li><i class="bi bi-dot"></i> <span>Student Community</span></li>
                  <li><i class="bi bi-dot"></i> <span>CBT Ultimate</span></li>
                  <li><i class="bi bi-dot"></i> <span>Custom Domain</span></li>
                </ul>

                <div class="text-center mt-auto">
                  <a href="{% url 'pages:contact' %}" class="buy-btn">Order</a>
                </div>

              </div>
            </div><!-- End Pricing Item -->

          </div>

        </div>
      </section><!-- End Pricing Section -->


   <!-- ======= Featured Services Section ======= -->
   <section id="featured-services" class="featured-services">
    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-activity icon"></i></div>
            <h4><a href="" class="stretched-link">Inventory App</a></h4>
            <p>Helps your businesses to manage inventory effectively by tracking purchases, sale and location of items</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-people icon"></i></div>
            <h4><a href="" class="stretched-link">Human Resource</a></h4>
            <p>Manage staff information; payroll, workforce management, recruitment and hiring, benefits administration</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-tablet icon"></i></div>
            <h4><a href="" class="stretched-link">Mobile App</a></h4>
            <p>Enhance your business with mobile app, build customer base, provide insightful customer data and more. </p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-pc-display icon"></i></div>
            <h4><a href="" class="stretched-link">Training</a></h4>
            <p>Help your business improve computer skills and implementation at different skill levels.</p>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Featured Services Section -->


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <img src="assets/img/logo_full_footer2.png">
                <p> Schoolly EdTech provides digital solutions for a 21st century academic institution. </p>
                <strong>WhatsApp:</strong> +234 808 354 2954<br>
                <strong>Call:</strong> +234 816 280 3828<br>
                <strong>Email:</strong> contact@schoolly.com.ng<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:about">About Schoolly</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:schoolly_home">Schoolly Features</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:faqs">FAQ</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:about">Our Pricing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:contact">Enquiries</a></li>
            </ul>
          </div>


          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-left"></i> EdTech Solutions</li>
              <li><i class="bi bi-chevron-left"></i> Google For Education</li>
              <li><i class="bi bi-chevron-left"></i> Software Dev/Mobile Apps</li>
              <li><i class="bi bi-chevron-left"></i> ICT Training</li>

            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Collaboration</h4>
            <img src="assets/img/logo_google.jpg">
            <p>Training and deployment of the EdTech google for education solution.
              Catering for all types of users- Teacher, students and other stakeholders</p>
              <hr>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Schoolly</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            Developed by <a href="https://fizcos.com/">Fizcos Infotech Solutions</a>
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href="https://www.twitter.com/SchoollyApp" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/schoollyapp" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/schoollyapp" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://wa.me/+2348162803828?text=I'm%20inquiring%20about%20the%20schoolly%20application" class="whatsapp"><i class="bi bi-whatsapp"></i></a>

        </div>

      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
  </html>