<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Schoolly - School Management System</title>
  <meta  name="description" content="A school management system that provides an
  all-in-one digital solution for schools. From a simple student's result module to a swift e-learning system,
  bundled with tools and features that capture and track all aspects of school business and academic activities">
  <meta name="keywords" content="schoolly, fizcos infotech solutions, school, management, software, nigeria, lagos, abuja,
  port harcourt">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="assets/css/variables.css" rel="stylesheet">
  <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
   <!-- remove .html from the file extension -->
   <link rel="canonical" href="https://schoolly.com.ng/faqs" />
  </head>

<body>
   <!-- ======= Header ======= -->

   <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="assets/img/logo-full.png" alt="">
        <!-- <h1>HeroBiz<span>.</span></h1> -->

      </a>
  
      <nav id="navbar" class="navbar">
        <ul>

          <li><a href="index.html">Home</a></li>

        <!-- </li>pages:about' as about_url %}
        <a href="{% if request.get_full_path == about_url %} class="active" {% endif %}>About Schoolly</a></li> -->

          <li><a class="nav-link scrollto" href="about.html">About Schoolly</a></li>
          <!-- <li><a class="nav-link scrollto" href="index.html#services">Features</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="index.html#pricing">Pricing</a></li> -->
          <li><a class="nav-link scrollto active" href="faqs.html">Help Center</a></li>
          <!--<li><a href="blog:blog_home">InfoBlog</a></li>-->
          <li><a class="nav-link scrollto" href="contact-demo.html">Contact Us</a></li>
          <li><a class="nav-link scrollto" href="https://www.schoolly.com.ng/users/login/">Portal Login</a></li>
  
          </li>

          <!-- </li>pages:contact' as contact_url %}
          <a class="nav-link scrollto" href="{{ contact_url }}" {% if request.get_full_path == contact_url %}class="active"{% endif %}>Contact</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      <a class="btn-getstarted scrollto" href="contact-demo.html">Book a Demo</a>

    </div>

  </header><!-- End Header -->
 
  <div class="breadcrumbs">

    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Schoolly Help Center</h2>
        <ol>
          <!-- <li><a href="index.html">Home</a></li> -->
          <!-- <li>Home</li> -->
        </ol>
      </div>

    </div>
  </div><!-- End Breadcrumbs -->

  <section id="faq" class="faq">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content px-xl-5">
            <h3>Frequently Asked <strong>Questions</strong></h3>
            <p>
            Listed below are the most frequently asked questions and the corresponding answers.

             <br /> In case you have other inquiries beyond what
              is provided here, please <a href="contact-demo.html">contact us.</a>
          </div>

          <div class="accordion accordion-flush px-xl-5" id="faqlist">

            <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                  <i class="bi bi-question-circle question-icon"></i>
                  How long does it take to set up for my school?
                </button>
              </h3>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Your school will be onboarded within 72hrs of signing up for schoolly.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item" data-aos="fade-up" data-aos-delay="300">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                  <i class="bi bi-question-circle question-icon"></i>
                  Do we require special training to get started?
                </button>
              </h3>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Yes, Schoolly provides FREE training session to get you started with the application.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item" data-aos="fade-up" data-aos-delay="400">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  <i class="bi bi-question-circle question-icon"></i>
                 How secure is our sensitive data online?
                </button>
              </h3>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  All of your data are 100% secure on our server, we also provide a 24/7 support system.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item" data-aos="fade-up" data-aos-delay="500">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                  <i class="bi bi-question-circle question-icon"></i>
                  How do I get started with Schoolly?
                </button>
              </h3>
              <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  <i class="bi bi-question-circle question-icon"></i>
                  Please get in touch with us to discuss your specific need and requirements.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item" data-aos="fade-up" data-aos-delay="600">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                  <i class="bi bi-question-circle question-icon"></i>
                  Do you offer other educational services?
                </button>
              </h3>
              <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Yes, Schoolly is powered by FIZCOS INFOTECH SOLUTIONS an ICT company that provides extensive
                  cutting-edge information technology solutions.
                </div>
              </div>
            </div><!-- # Faq item 5-->

            <div class="accordion-item" data-aos="fade-up" data-aos-delay="600">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                  <i class="bi bi-question-circle question-icon"></i>
                  Is Schoolly truly ONE-OFF?
                </button>
              </h3>
              <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Yes, Schoolly is a complete solution package that is available for a one-off payment without any hidden charges.

                </div>
              </div>
            </div><!-- # Faq item 6-->

          </div>

        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style="background-image: url('assets/img/faq.jpg')"></div>
      </div>

    </div>
  </section><!-- End F.A.Q Section -->
  
</body>
</html>





  <!-- ======= F.A.Q Section ======= -->
  
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <img src="assets/img/logo_full_footer2.png">
              <p> Schoolly EdTech provides digital solutions for a 21st century academic institution. </p>
                <strong>WhatsApp:</strong> +234 808 354 2954<br>
                <strong>Call:</strong> +234 816 280 3828<br>
                <strong>Email:</strong> contact@schoolly.com.ng<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:about">About Schoolly</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:schoolly_home">Schoolly Features</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:faqs">FAQ</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:about">Our Pricing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:contact">Enquiries</a></li>
            </ul>
          </div>


          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-left"></i> EdTech Solutions</li>
              <li><i class="bi bi-chevron-left"></i> Google For Education</li>
              <li><i class="bi bi-chevron-left"></i> Software Dev/Mobile Apps</li>
              <li><i class="bi bi-chevron-left"></i> ICT Training</li>

            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Collaboration</h4>
            <img src="assets/img/logo_google.jpg">
            <p>Training and deployment of the EdTech google for education solution.
              Catering for all types of users- Teacher, students and other stakeholders</p>
              <hr>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Schoolly</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            Developed by <a href="https://fizcos.com/">Fizcos Infotech Solutions</a>
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href="https://www.twitter.com/SchoollyApp" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/schoollyapp" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/schoollyapp" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://wa.me/+2348162803828?text=I'm%20inquiring%20about%20the%20schoolly%20application" class="whatsapp"><i class="bi bi-whatsapp"></i></a>

        </div>

      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
</html>