<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Schoolly - School Management System</title>
  <meta  name="description" content="A school management system that provides an
  all-in-one digital solution for schools. From a simple student's result module to a swift e-learning system,
  bundled with tools and features that capture and track all aspects of school business and academic activities">
  <meta name="keywords" content="schoolly, fizcos infotech solutions, school, management, software, nigeria, lagos, abuja,
  port harcourt">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="assets/css/variables.css" rel="stylesheet">
  <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <!-- remove .html from the file extension -->
  <link rel="canonical" href="https://schoolly.com.ng" />

  <!-- using the same header and footer through the pages -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
<script> 
$(function(){
  $("#header").load("header.html"); 
  $("#footer").load("footer.html"); 
});
</script> 

  </head>

<body>

  <!-- ======= Header ======= -->
  <div id="header"></div>

  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="assets/img/logo-full.png" alt="">
        <!-- <h1>HeroBiz<span>.</span></h1> -->

      </a>
  
      <nav id="navbar" class="navbar">
        <ul>

          <li> <a class= 'active' href="#">Home</a></li>

        <!-- </li>pages:about' as about_url %}
        <a href="{% if request.get_full_path == about_url %} class="active" {% endif %}>About Schoolly</a></li> -->

          <li><a class="nav-link scrollto" href="about.html">About Schoolly</a></li>
          <!-- <li><a class="nav-link scrollto" href="index.html#services">Features</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="index.html#pricing">Pricing</a></li> -->
          <li><a class="nav-link scrollto" href="faqs.html">Help Center</a></li>
          <!--<li><a href="blog:blog_home">InfoBlog</a></li>-->
          <li><a class="nav-link scrollto" href="contact-demo.html">Contact Us</a></li>
          <li><a class="nav-link scrollto" href="https://www.schoolly.com.ng/users/login/">Portal Login</a></li>
  
          </li>

          <!-- </li>pages:contact' as contact_url %}
          <a class="nav-link scrollto" href="{{ contact_url }}" {% if request.get_full_path == contact_url %}class="active"{% endif %}>Contact</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      <a class="btn-getstarted scrollto" href="contact-demo.html">Book a Demo</a>

    </div>

  </header><!-- End Header -->



  <section id="hero-fullscreen" class="hero-fullscreen d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center position-relative" data-aos="zoom-out">
      <h2>Modern Solution for better <span>Education</span></h2>
      <p>Speed up with Schoolly and get the best digital experience for your school.</p>
      <div class="d-flex">
        <a href="pages:about" class="btn-get-started scrollto">Get Started</a>
        <!--<a href="https://www.youtube.com/watch?v=ymA81wkhpr4"-->
        <a href="https://www.youtube.com/watch?v=youtu.be/xvjccR_FnCE"
        class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>

  </section>
 


  <main id="main">
   


  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
 

      <div class="section-header">
        <h2>Amazing Features</h2>
        <p>Whatever the size and nature of your institution; Schoolly offers you the best solutions to speed up!</p>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="service-item">
            <div class="img">
              <img src="assets/img/services-1.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-people"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Students Mgt.</h3>
              </a>
              <p>A powerful students/parents portal with all-in-one features. Results/assessments, payments, notification/feedback etc.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="service-item">
            <div class="img">
              <img src="assets/img/services-2.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-microsoft-teams"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Staff Mgt.</h3>
              </a>
              <p>A complete Administrative tool to manage staff roles and permission. Payroll, students assessment and grading etc.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="service-item">
            <div class="img">
              <img src="assets/img/services-3.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-person-workspace"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>E-Learning</h3>
              </a>
              <p>A suitable e-learning platform with video lessons, textual, presentation, etc. with comments and response enabled features.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
          <div class="service-item">
            <div class="img">
              <img src="assets/img/services-4.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-currency-exchange"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Finance & Admin.</h3>
              </a>
              <p>Perfom administrative and financial tasks by tracking income, expenses and all associated activities in the best ways.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
          <div class="service-item">
            <div class="img">
              <img src="assets/img/services-5.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-question-octagon"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Exams/CBT</h3>
              </a>
              <p>Schoolly comes packed with all tools and features for conducting Computer Based Test, Quiz and Examinations.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
          <div class="service-item">
            <div class="img">
              <img src="assets/img/services-6.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-keyboard"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Digital School</h3>
              </a>
              <p>Power your school with tech skills. Engage schoolly free tech training to equip students for career development. </p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section>


    </section>

    <!-- ======= On Focus Section ======= -->
    <section id="onfocus" class="onfocus">
      <div class="container-fluid p-0" data-aos="fade-up">

        <div class="row g-0">
          <div class="col-lg-6 video-play position-relative">
            <a href="https://www.youtube.com/watch?v=youtu.be/xvjccR_FnCE" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6">
            <div class="content d-flex flex-column justify-content-center h-100">
              <h3>Extend your school's digital experience with Schoolly.</h3>
              <p class="fst-italic">
                An all-in-one solution for your school, managing students enrollment, assignment,
                test/examination assessments with an easy to navigate tool..
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Enrollments, Assignments, Assessments...</li>
                <li><i class="bi bi-check-circle"></i> Result Tracking, Fees Payment, Attendance...</li>
                <li><i class="bi bi-check-circle"></i> E-library, e-Learning, Online Course reg. CBT, e-reporting</li>
              </ul>
              <a href="pages:contact" class="read-more align-self-start nav-link scrollto"><span>Start Now</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End On Focus Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row gy-4 d-flex">

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-binoculars color-cyan"></i>
              <h4>Efficient</h4>
            </a>
          </li><!-- End Tab 1 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-box-seam color-indigo"></i>
              <h4>Scalable</h4>
            </a>
          </li><!-- End Tab 2 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-brightness-high color-teal"></i>
              <h4>Collaborative</h4>
            </a>
          </li><!-- End Tab 3 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-command color-red"></i>
              <h4>User-Friendly</h4>
            </a>
          </li><!-- End Tab 4 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-easel color-blue"></i>
              <h4>Customizable</h4>
            </a>
          </li><!-- End Tab 5 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-map color-orange"></i>
              <h4>Responsive</h4>
            </a>
          </li><!-- End Tab 6 Nav -->

        </ul>

        <div class="tab-content">

          <div class="tab-pane active show" id="tab-1">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <h3>Schoolly</h3>
                <p class="fst-italic">
                  Pave the paths of your school to success with our top-quality software and applications which
                  caters for all types of users- Teacher, students and other stakeholders
                </p>
                <ul>
                  <li><i class="bi bi-check-circle-fill"></i> Multi-device compatibility</li>
                  <li><i class="bi bi-check-circle-fill"></i> 99.99% Uptime</li>
                  <li><i class="bi bi-check-circle-fill"></i> Real Time School Management.</li>
                </ul>
                <p>
                  All our products comes uniquely design according to your schoool's need, we consider your preference.
                  If you require a website for your school along with the application,
                  we have a bundle package you can consider.
                </p>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="assets/img/features-1.svg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 1 -->

          <!-- End Tab Content 4 -->

    </section><!-- End Features Section -->

  <!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->

            </div><!-- End testimonial item -->


            </div><!-- End testimonial item -->

            </div><!-- End testimonial item -->


            </div><!-- End testimonial item -->


            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->





            <div></div>
                <div></div>
                <div></div>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

   <!-- ======= Testimonials Section ======= -->
   <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

      <div class="testimonials-slider swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testi4.jpg" class="testimonial-img" alt="">
              <h3>Obadinna Mathew</h3>
              <h4>St. George Schools</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                We have being using the Schoolly application since two years and have never had any issue with it. The application is the best fit for any school.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testi1.jpg" class="testimonial-img" alt="">
              <h3>Nelly Okoro</h3>
              <h4>GCIS Port Harcourt</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                The Schoolly application has helped our school so much since we implemented it. The company swift support system is amazing.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testi2.jpg" class="testimonial-img" alt="">
              <h3>Dr. Juline Bello</h3>
              <h4>Greenville Int. School</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                The Schoolly team are quite supportive and always ready to offer other add-on services to ensure our school meets the digital standards.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->


          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testi3.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Digital Marketer</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                The effectiveness and robust nature of the Schoolly web application has enabled my company to market it far and wide.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->


     <!-- ======= Portfolio Section ======= -->
     <section id="portfolio" class="portfolio" data-aos="fade-up">

      <div class="container">

        <div class="section-header">
          <h2>Portfolio</h2>
          <p>Our Company offers a diverse portfolio of professional information technology (IT) services, including IT enabled services,
            Website / Application development, business consulting, enterprise business solutions and digital infrastructure management services</p>
        </div>

      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="200">

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

          <!-- End Portfolio Filters -->

          <!-- End Portfolio Item -->
<!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->





  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <img src="assets/img/logo_full_footer2.png">
              <p> Schoolly EdTech provides digital solutions for a 21st century academic institution. </p>
                <strong>WhatsApp:</strong> +234 808 354 2954<br>
                <strong>Call:</strong> +234 816 280 3828<br>
                <strong>Email:</strong> contact@schoolly.com.ng<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:about">About Schoolly</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:schoolly_home">Schoolly Features</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:faqs">FAQ</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:about">Our Pricing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="pages:contact">Enquiries</a></li>
            </ul>
          </div>


          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-left"></i> EdTech Solutions</li>
              <li><i class="bi bi-chevron-left"></i> Google For Education</li>
              <li><i class="bi bi-chevron-left"></i> Software Dev/Mobile Apps</li>
              <li><i class="bi bi-chevron-left"></i> ICT Training</li>

            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Collaboration</h4>
            <img src="assets/img/logo_google.jpg">
            <p>Training and deployment of the EdTech google for education solution.
              Catering for all types of users- Teacher, students and other stakeholders</p>
              <hr>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Schoolly</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            Developed by <a href="https://fizcos.com/">Fizcos Infotech Solutions</a>
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href="https://www.twitter.com/SchoollyApp" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/schoollyapp" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/schoollyapp" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://wa.me/+2348162803828?text=I'm%20inquiring%20about%20the%20schoolly%20application" class="whatsapp"><i class="bi bi-whatsapp"></i></a>

        </div>

      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>